# Pandas - Reorder Columns
Swap two columns, or change the order of columns

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', names=['A','B','C','D','Label'])
df

       A    B    C    D           Label
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

1) get a list of the column names.

In [3]:
titles = list(df.columns)
titles

['A', 'B', 'C', 'D', 'Label']

2) Swap or move whatever columns you want in the list.

In [4]:
titles[1], titles[2] = titles[2], titles[1]
titles

['A', 'C', 'B', 'D', 'Label']

3) Reassign the columns in the DataFrame.

In [5]:
df = df[titles]
df

       A    C    B    D           Label
0    5.1  1.4  3.5  0.2     Iris-setosa
1    4.9  1.4  3.0  0.2     Iris-setosa
2    4.7  1.3  3.2  0.2     Iris-setosa
3    4.6  1.5  3.1  0.2     Iris-setosa
4    5.0  1.4  3.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  5.2  3.0  2.3  Iris-virginica
146  6.3  5.0  2.5  1.9  Iris-virginica
147  6.5  5.2  3.0  2.0  Iris-virginica
148  6.2  5.4  3.4  2.3  Iris-virginica
149  5.9  5.1  3.0  1.8  Iris-virginica

[150 rows x 5 columns]