# Python Pandas Time Series Data
[Documentation](https://pandas.pydata.org/docs/user_guide/timeseries.html)

In [2]:
import numpy as np
import pandas as pd
import datetime
import random

### View Data between Time or Date

Select values between particular times of the day (e.g., 9:00-9:30 AM).

In [3]:
i = pd.date_range('2018-04-09', periods=4, freq='1D20min')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts.between_time('0:15', '0:45')

                     A
2018-04-10 00:20:00  2
2018-04-11 00:40:00  3

### Data Formats Supported
Pandas datetime64 can interpret strings, Python datetime, and Numpy datetime64 objects.  
Also note, a list of pd.datetime64 objects are automatically converted to a DatetimeIndex.

In [ ]:
a1 = pd.to_datetime([
    '6/1/2020', 
    '6-2-2020',
    datetime.datetime(2020, 6, 3),
    np.datetime64('2020-06-04'),
    np.datetime64('2020-06-05')])
a1

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05'],
              dtype='datetime64[ns]', freq=None)

Pass in a format argument for custom formatted dates (case matters).

In [ ]:
a2 = pd.to_datetime(['2020/14/06', '2020/15/06'], format='%Y/%d/%m')
a2

DatetimeIndex(['2020-06-14', '2020-06-15'], dtype='datetime64[ns]', freq=None)

Hours and Minutes too? No problem.

In [ ]:
a3 = pd.to_datetime(
    ['2020/6/8 14.05', '2020/6/9 06.45'], format='%Y/%d/%m %H.%M')
a3

DatetimeIndex(['2020-08-06 14:05:00', '2020-09-06 06:45:00'], dtype='datetime64[ns]', freq=None)

### Creating a datetime sequence with fixed intervals
freq parameters:  
  D=days, W=weeks, M=months, B=business days, BW=bus weeks, BM=bus months

In [ ]:
b1 = [random.random() for i in range(30)]
b2 = pd.date_range('2020-06-01', periods=30, freq='1d')
print(b2)
df = pd.DataFrame({'M':b1}, index=b2)
#df.loc['2020-06-18':]
df[df['M'] > 0.8]

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20',
               '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24',
               '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

                   M
2020-06-07  0.970080
2020-06-14  0.809867
2020-06-18  0.917428
2020-06-20  0.945739
2020-06-26  0.815245

In [ ]:
b3 = np.random.rand(52)
b4 = pd.date_range('2020-06-01', periods=52, freq='W')
df = pd.DataFrame(b3, index=b4)
df['2020-07-10':'2020-07-28']

                   0
2020-07-12  0.581691
2020-07-19  0.611492
2020-07-26  0.933940

Alternative to periods, you can give start and stop dates.

In [ ]:
b3 = pd.date_range('2020-06-30', '2020-12-31', freq='M')
b3

DatetimeIndex(['2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30',
               '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

### Dates Index to/from CSV file
Create DataFrame with Dates as Index, Write it to a CSV file, then Read in the CSV data and put the dates as Index

In [ ]:
d1 = np.round(6 + 4 * np.random.randn(7), decimals=2)
d2 = np.random.randint(12, 30, size=7)
d3 = pd.Series(pd.date_range('2020-05-29', periods=7, freq='1d'))
df = pd.DataFrame({'alpha':d1, 'beta':d2}, index=d3)

df.to_csv('file01.csv')
df

            alpha  beta
2020-05-29  10.40    26
2020-05-30   8.92    26
2020-05-31   5.09    12
2020-06-01   3.87    27
2020-06-02   3.93    24
2020-06-03   4.79    16
2020-06-04   9.12    16

In [ ]:
df = pd.read_csv('file01.csv', index_col=0)
print(type(df.index[2]))
df.index = pd.to_datetime(df.index, format='%Y/%m/%d')
print(type(df.index[2]))
df[:'2020/05/31']

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

            alpha  beta
2020-05-29  10.40    26
2020-05-30   8.92    26
2020-05-31   5.09    12

### Constructing Dates from Multiple Columns
You have Month, Day and Year in separate fields, and need to combine them into a single Datetime field.

In [ ]:
yyyy = [random.randint(1995,2020) for i in range(100)]
mm = [random.randint(1,12) for i in range(100)]
dd = [random.randint(1,28) for i in range(100)]
data = [random.random() for i in range(100)]
print(yyyy[5], mm[5], dd[5], data[5])

2017 12 7 0.970109923902562

In [ ]:
df1 = pd.DataFrame({'year': yyyy,'month': mm, 'day': dd})
df1 = pd.to_datetime(df1) 
df2 = pd.Series(data)
df = pd.concat([df1, df2], axis=1)
df[:5]

           0         1
0 2016-10-18  0.282307
1 2007-09-09  0.004984
2 2016-12-12  0.652762
3 2017-04-14  0.199284
4 2013-03-23  0.163154

### Pivot (Transpose) Rows & Columns
You normally want dates as the row index, not the column headers.  
Flip the rows and columns using T.

In [ ]:
df = pd.read_csv('pivot.csv')
df = df.T
df.head()

                            0
2016-10-18 00:00:00  0.282307
2007-09-09 00:00:00  0.004984
2016-12-12 00:00:00  0.652762
2017-04-14 00:00:00  0.199284
2013-03-23 00:00:00  0.163154

### Date Arithmetic

In [ ]:
appointment = pd.Timestamp('2020-06-04')
appointment.day_name()

'Thursday'

Uh oh! my appointment is delayed 2 days.  
Here are 3 different ways to add 2 days to the date.

In [ ]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.Timedelta('2 days')
appointment.day_name()

'Saturday'

In [ ]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.Timedelta(days=2)
appointment.day_name()

'Saturday'

Date offsets: Day, Hour, Minute, Second, Milli, Micro, Nano

In [ ]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.offsets.Day(2)
appointment.day_name()

'Saturday'

NO, it's delayed 2 business days.

In [ ]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.offsets.BDay(2)
appointment.day_name()

'Monday'